<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Dragon</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="title">The Dragon</h1>
    <div class="btn-container">
        <button id="barbarian" class="btn-class">Barbarian</button>
        <button id="bard" class="btn-class">Bard</button>
        <button id="cleric" class="btn-class">Cleric</button>
        <button id="druid" class="btn-class">Druid</button>
        <button id="fighter" class="btn-class">Fighter</button>
        <button id="monk" class="btn-class">Monk</button>
        <button id="paladin" class="btn-class">Paladin</button>
        <button id="ranger" class="btn-class">Ranger</button>
        <button id="rogue" class="btn-class">Rogue</button>
        <button id="sorcerer" class="btn-class">Sorcerer</button>
        <button id="warlock" class="btn-class">Warlock</button>
        <button id="wizard" class="btn-class">Wizard</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
