<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escolha sua Raça</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="title">Escolha sua Raça</h1>
    <div class="btn-container">
        <button id="dragonborn" class="btn-race">Dragonborn</button>
        <button id="dwarf" class="btn-race">Dwarf</button>
        <button id="elf" class="btn-race">Elf</button>
        <button id="gnome" class="btn-race">Gnome</button>
        <button id="half-elf" class="btn-race">Half-Elf</button>
        <button id="half-orc" class="btn-race">Half-Orc</button>
        <button id="halfling" class="btn-race">Halfling</button>
        <button id="human" class="btn-race">Human</button>
        <button id="tiefling" class="btn-race">Tiefling</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
